nav, article {
    opacity: var(--opacity-hover);
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    padding-bottom: 0;
}
header {
    background: linear-gradient(to top left, var(--primary-color), var(--secondary-color));
}
#mapout {
    background: linear-gradient(to top left, var(--dark-color), var(--light-color));
}
article#describe pre {
    opacity: var(--opacity-hover);
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color)), url('./prototype.png') !important;
    padding-bottom: 0;
}
article#describe {
    opacity: var(--opacity-hover);
    background: url('../../prototype.png') no-repeat center !important;
    background-position: top;
    padding-bottom: 0;
}
nav#top_navigation {
    justify-content: center;
    background-color: antiquewhite;
}
nav#top_navigation ol {
    margin-bottom: 0 !important;
}
nav#top_navigation ol li {
    border: 1px solid gray;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-right: var(--spacing-unit);
    padding: var(--spacing-unit) 10px;
    background-color: silver;
    opacity: 0.9;
    margin-bottom: 0;
    background-image: linear-gradient(to top left, var(--primary-color), var(--secondary-color));
}
nav#top_navigation ol li a {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    text-transform: capitalize !important;
}
nav#top_navigation ol li:hover {
    opacity: var(--opacity-hover);
    background-image: linear-gradient(to top left, var(--primary-color), rgb(161, 212, 230));
}
nav#top_navigation ol li:first {
    border: 1px solid rgb(128, 128, 128);
    background-color: darkgrey;
}
blockquote {
    position: relative;
}
blockquote:before, blockquote:after {
    position: absolute;
    font-size: 4em;
}
blockquote:before {
    content: open-quote;
    margin-left: -0.6em;
    margin-top: -0.4em;
}
blockquote:after {
    content: close-quote;
    bottom: 0;
    right: 0;
    margin-right: -0.6em;
    margin-bottom: -0.8em;
}
blockquote p {
    display: inline;
}
pre {
    padding: var(--spacing-unit);
}